# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# AWS Lambda zip artifacts
*.zip

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files

# turbo build & cache artifacts
.turbo/

.claude/

# bun artifacts
bun.lock
bunfig.toml
.bun

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# Terraform state files and related
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfplan
*.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
